{% extends 'base.html.twig'%}
{% block body %}
{{form_start(formArticle)}}
  {{form_row(formArticle.title, {'attr': {'placeholder':"Titre de l'Article"}})}}
  {{form_row(formArticle.content, {'attr': {'placeholder':"Contenue de l'article"}})}}
  {{form_row(formArticle.imagefile, {'attr': {'placeholder':"L'url de l'image"}})}}
      <button type="submit" class="btn btn-success">Modifier</button>
 {{form_end(formArticle)}}
{% endblock %}