 {% extends 'base.html.twig' %}

 {% form_theme formArticle 'bootstrap_4_layout.html.twig' %}
 
 {% block body %}
 <h1>Creation d'un Article </h1>
 {{form_start(formArticle)}}
  {{form_row(formArticle.title, {'attr': {'placeholder':"Titre de l'Article"}})}}
  {{form_row(formArticle.content, {'attr': {'placeholder':"Contenue de l'article"}})}}
  {{form_row(formArticle.imagefile)}}
  <hr>
    <button type="submit" class="btn btn-success"> Enregistrer
      </button>
    
 {{form_end(formArticle)}}

 {% endblock %} 