{% extends 'base.html.twig' %}
{% block body %}
<article >
<div class="container">
    <h2 style="text-align: center;">{{ article.title }}</h2>
    <div class="metadata" style="text-align: center;">Ecrit le {{ article.createdAt | date('d/m/Y')}} a 
        {{article.createdAt | date('H:i')}} </div>
        <p>{{ article.content | raw }}</p>
    <div class="row">
        <img src="/images/{{ article.imagefile}}" alt="">
        
    </div>
</div>
    
</article>
{% endblock %}