{% extends 'base.html.twig' %}

{% block title %}Toute Nos Voiture{% endblock %}

{% block body %}

<div class="container" >
    <div style="margin-top: 20px; margin-bottom: 40px; background-color:gray;color:white">
        <h1 style="text-align: center;"> Toute Nos Voiture</h1> 
    </div>
    {{ form_start(formSe) }}
            {{ form_row(formSe) }}
    {{ form_end(formSe) }}
        
    <div class="flex row">
        {% for article in articles %}
        <div class=" col-4">
            <div class="card">

                <div class="card-body">
                    <h2 class="card-title">{{ article.title }}</h2>
                    <p>Ecrit le {{ article.createdAt| date('d/m/y') }} a
                        {{ article.createdAt| date('H:i') }} </p>

                    <img src="/images/{{ article.imagefile }}" alt="" class="card-img-top">

                    <p class="card-text text-truncate">{{ article.content | raw }}</p>
                    <a href="{{ path('admin_blog_show',{'id': article.id}) }}"
                        class="btn btn-primary">Lire la Suite</a>
                    <a href="{{ path('admin_article_edit',{'id':article.id}) }}"
                        class="btn btn-warning">Modifier</a>
                    <a href="{{ path('admin_article_delete',{'id':article.id}) }}"
                        class="btn btn-danger"
                        onclick="return confirm('Voulez Vous vraiment supprimer cet Article')">Supprimer</a>
                </div>
            </div>
        </div>
    
       {% endfor %}
     </div>  
</div>
{% endblock %}