{% extends 'base.html.twig' %}
{% block title %} Modifier le bien n°{% endblock %}
{% block body %}
{{form_start(formImmo)}}
    {{form_row(formImmo.titre)}}
    {{form_row(formImmo.description)}}
    {{form_row(formImmo.image)}}
    {{form_row(formImmo.prix)}}
    <hr>
    <button type="submit" class="btn btn-success">Modifier</button>
{{form_end(formImmo)}}    
{% endblock %}