{% extends 'base.html.twig' %}

{% block title %}Hello ImmoController!{% endblock %}

{% block body %}

{{ form_start(formS) }}
    {{ form_row(formS) }}
{{ form_end(formS) }}
<h2>Nos Biens Immobiliers</h2>
<a href="{{ path('new') }}" class="btn btn-success">Ajouter un bien</a>
<div class="flex row">
    {% for immobilier in immobilies %}
        <div class="col-4">
            <div class="card-body">
                <div class="card-title">
                   <h2>{{ immobilier.titre}}</h2>
                   <p>{{immobilier.createdAt | date('d-m-Y')}} a {{immobilier.createdAt | date('H:i')}}</p>
                   <img src="/images/{{immobilier.image}}" alt="" class="card-img-top">
                   <p class="card-text text-truncate">{{immobilier.description | raw}}</p>
                   <a href="{{ path('immobilier_show',{'id': immobilier.id}) }}" class="btn btn-primary">Lire la suite</a>
                   <a href="{{ path('edit',{'id':immobilier.id})}}" class="btn btn-warning">Modifier</a>
                   <a href="{{path('destroy',{'id': immobilier.id})}}" class="btn btn-danger" onclick="return confirm('Voulez Vous vraiment supprimer cet Bien')">Supprimer</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
